.menu-container {
  top: 65px;
  right: 50px;
  width: 150px;
  height: 200px;
  display: flex;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  flex-direction: column;
  background-color: #282c34;
  justify-content: space-evenly;
  box-shadow: #181a1f 4px 5px 2px;
}

.menu-container > a {
  padding: 10px 0px;
  color: #66fcf1;
  margin: 0px 10px;
  text-decoration: none;
  background-color: #282c34;

  &:hover {
    border-radius: 5px;
    background-color: #181a1f;
  }
}
